In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

df = pd.read_csv("medals.csv")
df

    Rank                    Team/NOC  Gold  Silver  Bronze
0      1    United States of America    39      41      33
1      2  People's Republic of China    38      32      18
2      3                       Japan    27      14      17
3      4               Great Britain    22      21      22
4      5                         ROC    20      28      23
..   ...                         ...   ...     ...     ...
88    86                       Ghana     0       0       1
89    86                     Grenada     0       0       1
90    86                      Kuwait     0       0       1
91    86         Republic of Moldova     0       0       1
92    86        Syrian Arab Republic     0       0       1

[93 rows x 5 columns]

In [2]:
Team = df["Team/NOC"]
Gold = df["Gold"]
Silver = df["Silver"]
Bronze = df["Bronze"]
Sum = 0
TheSum = []

for i_1 in range(len(Team)):
    Sum = Gold[i_1]+Silver[i_1]+Bronze[i_1]
    TheSum.append(Sum)
    Sum = 0

AllSum = np.array(TheSum)
Total = AllSum.sum()

In [3]:
from tkinter import*
from tkinter import ttk
Window = Tk()
Window.title("EntriesGender")
Window.geometry("1200x720")
LB = Label(Window,text="แต่ละประเทศมีเหรียญทั้งหมดเท่าไหร่",font=("Arial Bold",20))
LB.grid(column=0,row=0)
LB1 = Label(Window,text="มีเหรียญทั้งหมดเท่ากับ"+str(Total)+"เหรียญ",font=("Arial Bold",20))
LB1.grid(column=1,row=1)

Tex = ttk.Combobox(Window,values = list(Team),width=20)
Tex.grid(column=0,row=2)

def BUTTON1():
    TEXT = Tex.get()
    for i in range(len(list(Team))):
        if str(TEXT) == str(list(Team)[i]):
            LB.configure(text="ประเทศ"+TEXT+"มีเหรียญเท่ากับ"+str(TheSum[i])+"เหรียญ")

BT = Button(Window,text="Click",font=("Arial Bold",20),command=BUTTON1)
BT.grid(column=0,row=1)
Window.mainloop()